.profile__description {
  margin: 0;
  font-size: 18px;
  font-weight: 400;
  line-height: 22px;
  padding-top: 8px;
  overflow: hidden;
  max-width: 282px;
  text-overflow: ellipsis;
  white-space: nowrap;
}

@media (max-width: 770px) {
  .profile__description {
    font-size: 14px;
    line-height: 17px;
  }
}