.footer {
  box-sizing: border-box;
  max-width: 880px;
  width: 100%;
  margin: 0 auto;
  padding-bottom: 60px;
}

@media (max-width: 907px) {
  .footer {
    padding-left: 18px;
    padding-bottom: 36px;
  }
}