.profile__add-button {
  box-sizing: border-box;
  width: 150px;
  padding-top: 12px;
  padding-bottom: 12px;
  margin-bottom: 7px;
  align-self: center;
  justify-self: right;
  line-height: 0;
  font-size: 0;
  background-color: transparent;
  outline: none;
  border-radius: 2px;
  border: 2px solid #ffffff;
  transition: opacity 0.2s ease-in;
  cursor: pointer;
}

.profile__add-button:hover {
  opacity: 0.6;
}

@media (max-width: 770px) {
  .profile__add-button {
    width: 100%;
    margin-top: 5px;
    margin-bottom: 0;
    padding-top: 15px;
    padding-bottom: 15px;
  }
}
